<div ng-repeat="section in sections" class="{{ section.slug }} section content-block"  id="{{ section.id }}" ng-switch="section.id">
	<div ng-switch-when="countdown" class="container-fluid" >
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="description" ng-bind-html="trustAsHtml(section.content)">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="vote" class="container-fluid" >
		<h3>{{section.title}}</h3>
		<div class="row">
			<div class="col-lg-6 col-md-6 widget-tc">
				<div class="description" ng-bind-html="trustAsHtml(section.content.widget.content)">
				</div>
			</div>
			<div class="col-lg-6 col-md-6 side-content-vote">
				<div class="description" ng-bind-html="trustAsHtml(section.content.side_content.content)">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="about" class="container-fluid" >
		<div class="row">
			<div class="col-lg-8 col-md-8 about_iema">
				<h3>{{section.content.about_iema.title}}</h3>
				<div class="description" ng-bind-html="trustAsHtml(section.content.about_iema.content)">
				</div>
			</div>
			<div class="col-lg-4 col-md-4 contact_us">
				<h3>{{section.content.contact_us.title}}</h3>
				<div class="description" ng-bind-html="trustAsHtml(section.content.contact_us.content)">
				</div>
			</div>
		</div>
	</div>
	<div ng-switch-when="regulations" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="trustAsHtml(section.content)"></div>
			</div>
		</div>
	</div>
	<div ng-switch-when="special-award" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="trustAsHtml(section.content)"></div>
			</div>
		</div>
	</div>
	<div ng-switch-when="nomination-form" class="container-fluid">
		<h3>{{section.title}}</h3>
		<form action="" class="form-nomination">
		<div class="row">
			
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<label for="" class="form-label">Name <small>* required</small></label>
					<input type="text" placeholder="Name of Merchant" class="merchant-name form-control">
				</div>
				<div class="form-group">
					<label for="" class="form-label">Web <small>* required</small></label>
					<input type="text" placeholder="Merchant Website" class="merchant-website form-control">
				</div>
				<div class="form-group">
					<label for="" class="form-label">Details <small>* required</small></label>
					<input type="text" placeholder="Your email address" class="email-address form-control">
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="form-group">
					<label for="" class="form-label">About ecommerce merchant</label>
					<textarea class="form-control merchant-story">Story about nominated merchant</textarea>
				</div>
				<div class="form-action">
					<button type="button" class="form-btn">Submit</button>
				</div>
			</div>
		</div>
		</form>
	</div>
	<div ng-switch-when="experts" class="container-fluid">
		<h3>{{section.title}}</h3>
		<div class="row">
			<figure ng-repeat="expert in section.content.experts" class="col-md-4 expert-item">
				<amp-img ng-src="{{expert.image}}" alt="" layout="fixed" width="250" height="250"></amp-img>
				<figcaption>
					<h4>{{expert.name}}</h4>
					<span class="expert-title">{{ expert.title }}</span>
					<p>{{ expert.description}}</p>
				</figcaption>
			</figure>
		</div>
	</div>
	<div ng-switch-when="partners" class="container-fluid">
		<h3>{{section.title}}</h3>
		<div class="row">
			<figure ng-repeat="partner in section.content.partners" class="col-md-4 partner-item">
				<a href="{{ partner.link}}" target="_blank">
					<amp-img src="{{partner.image}}" layout="responsive" width="250" height="141"  alt=""></amp-img>
				</a>
				<figcaption>
					<h4>{{partner.name}}</h4>
					<span class="partner-title">{{ partner.title }}</span>
					<span class="description" ng-bind-html="trustAsHtml(partner.description)"></span>
				</figcaption>
			</figure>
		</div>
	</div>
	<div ng-switch-when="merchants" class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h3>{{section.title}}</h3>
				<div class="description" ng-bind-html="trustAsHtml(section.content)"></div>
			</div>
		</div>
	</div>
</div> 