#main-container > #content > section > div > h1 {
    font-size: 24px;
    line-height: 33px;
    color: #30cccd;
    margin: 0;
}

li, p, span, small, strong, a {
    color: #333;
    font-size: 14px;
}

#main-container > #content > section > div > ul {
    padding: 0;
    margin-bottom: 15px;
}

#main-container > #content > section > div > .spacing {
    margin-top: 50px;
}

#main-container > #content > section > div > ul > li {
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

#main-container > #content > section > div > ul > .heading {
    font-size: 24px;
    line-height: 33px;
    color: #30cccd;
    margin: 0;
}

#main-container > #content > section > div > ul > p {
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 5px 0;
}

section > div > ul > ol, section > div > ul > ol > li {
    list-style-type: lower-alpha;
    padding: 0 0 0 15px;
}

section > div > ul > ol > li {
    margin-bottom: 10px;
}

section > div > ul > li {
    margin: 8px 0;
}

section > div > ul > .italic {
    font-style: italic;
}

section > div > ul > ul, section > div > ul > li {
    list-style: initial;
    font-weight: normal;
    padding-left: 18px;
}

section > div > ul > ul > li {
    padding: 0 0 0 10px;
    margin-bottom: 10px;
}

section > div > ul > ul > li > ul {
    padding-left: 15px;
}

section > div > ul > ul > li > ul > li {
    list-style: circle;
    font-weight: normal;
    padding: 0;
}

.positioning {
    left: 55.5%;
    right: 42.5%;
    top: 0;
    bottom: 9%;
    margin-top: 50px !important;
    position: fixed;
}

.static {
    position: absolute;
    top: 2239px;
    left: 55.5%;
    right: 42.5%;
}

#stage {
    background: none !important;
    color: #fff;
}

.relative {
    position: relative;
}

.hide {
    display: none;
}

.show {
    display: block;
}

section > div > ul > ul > .smaller {
    font-size:12px;
}

#content > #vote > .box > ul > div > img {
    width: 100%;
}

#main-container > #content > #vote > .side-content {
    margin: 0;
}

#main-container > #content > #vote > .box {
    margin-bottom: 72px;
}

#main-container > #content > section > .side-content > .blue-form {
    background-color: #30cccd;
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
}

#main-container > #content > section > .side-content > .blue-form > iframe {
    width: 100%;
    height: 488px;
    border: none;
}

@media (max-width: 1022px) {
    #main-container > #content > section > .side-content > .blue-form > iframe {
        height: 622px;
        overflow: hidden;
    }
}

@media (max-width: 639px) {
    #main-container > #content > section > .side-content > .blue-form {
        height: 766px;
    }

    .hide {
        display: block;
    }

    .show {
        display: none;
    }

    .form-all .form-submit-button {
        padding: 0 !important;
    }

    #main-container > #content > section > .side-content > .blue-form {
        height: 575px;
    }
}

#main-container > #header > .nav-menu > .wrapper > .blogger-page {
    padding-right: 60px;
}

#main-container > #content > section > .side-content > .contact-us > div {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

#main-container > #content > section > .side-content > .contact-us > div {
    margin: 0 0 20px 0;
    padding: 0;
}

#main-container > #content > section > .side-content > .contact-us > div > p {
    font-size: 24px;
    font-weight: bold;
    line-height: 33px;
    color: #30cccd;
    margin: 0 0 16px 0;
}

#main-container > #content > section > .side-content > .contact-us > div > .smaller-text {
    font-size: 18px;
    margin: 0;
}

#main-container > #content > section > .side-content > .contact-us > div > span {
    font-size: 18px;
    font-weight: 900;
    color: #30cccd;
}

#main-container > #content > section > .side-content > .contact-us > div > small > a {
    color: #ff6633;
}
